In [149]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [150]:
data1 = pd.read_csv('Diabetes_XTrain.csv').values
pd.DataFrame(data1).tail()

       0      1     2     3      4     5      6     7
571  2.0  111.0  60.0   0.0    0.0  26.2  0.343  23.0
572  7.0  187.0  68.0  39.0  304.0  37.7  0.254  41.0
573  2.0  122.0  60.0  18.0  106.0  29.8  0.717  22.0
574  4.0  154.0  72.0  29.0  126.0  31.3  0.338  37.0
575  1.0   88.0  78.0  29.0   76.0  32.0  0.365  29.0

In [151]:
x_train = data1[:,:]
x_test = pd.read_csv('Diabetes_Xtest.csv').values
pd.DataFrame(x_test).head()

      0      1     2     3      4     5      6     7
0   0.0  180.0  90.0  26.0   90.0  36.5  0.314  35.0
1   2.0   93.0  64.0  32.0  160.0  38.0  0.674  23.0
2   2.0  114.0  68.0  22.0    0.0  28.7  0.092  25.0
3  13.0   76.0  60.0   0.0    0.0  32.8  0.180  41.0
4   1.0   80.0  74.0  11.0   60.0  30.0  0.527  22.0

In [152]:
data2 = pd.read_csv('Diabetes_YTrain.csv').values
y_train = data2[:,:]
#y_test = data2[400:,:]

In [153]:
pd.DataFrame(y_train).head()

   0
0  1
1  0
2  1
3  1
4  0

In [154]:
y_test = y_test.reshape((-1))
y_train = y_train.reshape((-1))
print(y_train.shape,x_train.shape)

(576,) (576, 8)

In [155]:
np.unique(y_train)

array([0, 1])

## Building our classifier !

In [156]:
def prior_prob(y_train,label):
    total_examples = y_train.shape[0]
    class_examples = np.sum(y_train == label)
    return (class_examples)/float(total_examples)

In [157]:
def cond_prob(x_train,y_train,feature_col,feature_val,label):
    x_filtered = x_train[y_train == label]
    numerator = np.sum(x_filtered[:,feature_col] == feature_val)
    denominator = np.sum(y_train == label)
        
    return numerator/float(denominator)

In [158]:
def predict(x_train,y_train,xtest):
    """xtest is a single testing point ,n features"""
    
    classes = np.unique(y_train)
    n_features = x_train.shape[1]
    post_probs = []
    # compute posterior for each class
    for label in classes:
        
        # post_c = liklihood*prior
        likelihood = 1.0
        for f in range(n_features):
            cond = cond_prob(x_train,y_train,f,xtest[f],label)
            likelihood *= cond
        
        prior = prior_prob(y_train,label)
        post = likelihood*prior
        post_probs.append(post)
        
    pred = np.argmax(post_probs)
    return pred

In [159]:
l = []
for i in range(x_test.shape[0]):
    output = predict(x_train,y_train,x_test[i])
    l.append(output)

print(np.array(l))
y_test = np.array(l)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0]

In [160]:
df = pd.DataFrame(data=y_test,columns=["Outcome"])
df.to_csv('diabetes_prediction.csv',index=False)

In [1]:
''''def score(x_train,y_train,x_test,y_test):
    pred = []
    for i in range(x_test.shape[0]):
        pred_label = predict(x_train,y_train,x_test[i])
        pred.append(pred_label)
        
    pred = np.array(pred)
    accuracy = np.sum(pred == y_test)/y_test.shape[0]
    return accuracy'''

"'def score(x_train,y_train,x_test,y_test):\n    pred = []\n    for i in range(x_test.shape[0]):\n        pred_label = predict(x_train,y_train,x_test[i])\n        pred.append(pred_label)\n        \n    pred = np.array(pred)\n    accuracy = np.sum(pred == y_test)/y_test.shape[0]\n    return accuracy"

In [2]:
#print(score(x_train,y_train,x_test,y_test))